{% load i18n %}

    <div class="container">
		<div class="categories js-tabs-container">
            {% ifequal active "participating" %}
                <a style="text-decoration: none;" class="nav nav-tabs js-tab" href="#" data-related=".js-categories-content">{% trans "Participating in" %} <i class="fa fa-chevron-down"></i></a>
            {% else %}
                <a style="text-decoration: none;" class="nav nav-tabs js-tab" href="#" data-related=".js-categories-content">{% trans "Left" %} <i class="fa fa-chevron-down"></i></a>
            {% endifequal %}

			<div class="tab-content js-tab-content js-categories-content">
				<ul class="nav nav-tabs submenu">
                    <li><a class="menu-link" href="{% url "spirit:topic:private:index-author" %}" >{% trans "Left" %}</a></li>
                    <li><a class="menu-link" href="{% url "spirit:topic:private:index" %}" >{% trans "Participating in" %}</a></li>
				</ul>
			</div>
		</div>

        <div class="new-topic">
            <a class="btn btn-primary" href="{% url 'spirit:topic:private:publish' %}">{% trans "Create private topic" %}</a>
		</div>
	</div>
