{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Basic Settings" %}{% endblock %}

{% block content %}

    {% include "spirit/admin/_side_menu.html" with active="basic_settings" %}

    <h4 class="headline">{% trans "Basic Settings" %}</h4>

    <form action="." method="post">
        {% csrf_token %}
        {% include "spirit/_form.html" %}

        <input class="btn btn-success" type="submit" name="post" value="{% trans "Save" %}" />
    </form>

{% endblock %}
