{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Resend activation email" %}{% endblock %}

{% block content %}

    <h3 class="headline">{% trans "Resend activation email" %}</h3>

    <div class="login">
        <form action="." method="post">
            {% csrf_token %}
            {% include "spirit/_form.html" %}

            <input class="btn btn-primary" type="submit" name="post" value="{% trans "Resend email" %}" />
        </form>
    </div>

{% endblock %}
