{% extends "profit/base_in.html" %}

{% load spirit_tags i18n %}
{% load static from staticfiles %}

{% block head-extra %}
    <script src="{% static 'spirit/scripts/all.min.js' %}"></script>
    <script>
        $( document ).ready(function() {

            $.tab();

            $( 'a.js-post' ).postify( {
                csrfToken: "{{ csrf_token }}",
            } );

            $('.js-messages').messages();

            {% if user.is_authenticated %}
                $.notification( {
                    notificationUrl: "{% url "spirit:topic:notification:index-ajax" %}",
                    notificationListUrl: "{% url "spirit:topic:notification:index-unread" %}",
                    mentionTxt: "{% trans "{user} has mention you on {topic}" %}",
                    commentTxt: "{% trans "{user} has commented on {topic}" %}",
                    showAll: "{% trans "Show all" %}",
                    empty: "{% trans "No new notifications, yet" %}",
                    unread: "{% trans "unread" %}",
                } );
            {% endif %}
        });

    </script>
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->
{% endblock head-extra %}

{% block content %}
    {% include 'spirit/_header.html' %}
    {% render_messages messages %}
    {{ block.super }}
{% endblock %}
