{% load i18n %}
{% load static %}
{% load profit %}

{{ config.template_footer1|safe }}

	<footer class="footer1">
        <div class="container1">
            <div class="row1">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <img class="footer1-logo" src="{% static 'images/footer/profit.svg' %}"/>
                    <p>
                        <span class="footer1-span">{% trans 'A platform promoting financial awareness and capability of citizens and other financial market participants.' %}</span>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="borders">
                        <div class="row1">
                            <span class="footer1-header">{% trans 'Useful Links' %}</span>
                        </div>
                        <div class="row1">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <ul class="footer1-list">
                                    <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
                                    <li><a href="">{% trans 'Help Center' %}</a></li>
                                    <li><a href="{% url 'privacy' %}">{% trans 'Privacy Policy' %}</a></li>
                                    <li><a href="{% url 'terms' %}">{% trans 'Terms of Use' %}</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <ul class="footer1-list">
                                    <li><a href="{% url 'feedback:broken_feature' %}?next={{ request.path|urlencode }}%3F{{ request.GET.urlencode }}">{% trans 'Report broken feature' %}</a></li>
                                    <li><a href="{% url 'contact:form' %}">{% trans 'Contact' %}</a></li>
                                    <li><a href="http://projectprofit.eu/">{% trans 'Project Website' %}</a></li>
                                    <li><a href="http://projectprofit.eu/community/signup/">{% trans 'Newsletter' %}</a></li>
                                </ul>
                            </div>
                            <div class="col-med-6 col-xs-12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 padded">
                    <img class="footer1-logo" src="{% static 'images/footer/horizon.svg' %}"/>
                    <p>
                        <span class="footer1-span">{% trans 'This project has received funding from the European Union Horizon 2020 research and innovation programme under grant agreement No 687895.' %}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container1-fluid copyrights1">
            <div class="container1">
                <div class="row1">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <div class="col-md-8 col-xs-12">
                            <span class="copy-text">{% trans 'Copyright © 2018 PROFIT. All rights reserved.' %}</span>
                        </div>
                        <div class="col-md-4 col-xs-12 copy-social">
                            <a href="https://www.facebook.com/projectprofit/"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/PROFIT_platform"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/profit-project"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UCcaLwpZN_cI3oTybod-LnvQ"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://vcs.eea.sk/projects/PROF/repos/prototype/" ><i class="fa fa-bitbucket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/lib/intro.js/intro-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

