{% load i18n %}

    <div class="container">
		<div class="categories js-tabs-container">
                <ul class="nav nav-tabs">
            {% if category %}
                    <li><a class="header-tab-link js-tab" style="border-bottom-color: #65c3b4; text-decoration: none;" href="#" data-related=".js-categories-content">{{ category.title }} <i class="fa fa-chevron-down"></i></a></li>
			{% else %}
                    <li><a class="header-tab-link js-tab" style="border-bottom-color: #65c3b4; text-decoration: none;" href="#" data-related=".js-categories-content">{% trans "All Categories" %} <i class="fa fa-chevron-down"></i></a></li>
            {% endif %}
            </ul>
            
			<div class="tab-content js-tab-content js-categories-content">
				<nav class="header-nav">
				<ul class="nav nav-tabs submenu">
                    {% for c in categories %}
                        <li><a class="menu-link" href="{{ c.get_absolute_url }}" >{{ c.title }}</a></li>
                    {% endfor %}
                    {% if category.parent %}
                        <li><a class="menu-link" href="{{ category.parent.get_absolute_url }}" >{% trans "All Subcategories" %}</a></li>
                    {% else %}
                        <li><a class="menu-link" href="{% url "spirit:topic:index-active" %}" >{% trans "All Categories" %}</a></li>
                    {% endif %}
				</ul>
				</nav>
			</div>
		</div>


        <div class="new-topic">
            {% if category %}
                <a type="button" class="btn btn-primary"  href="{% url "spirit:topic:publish" category.pk %}">{% trans "Create Topic" %}</a>
            {% else %}
                <a type="button" class="btn btn-primary" href="{% url "spirit:topic:publish" %}">{% trans "Create Topic" %}</a>
            {% endif %}
		</div>
	</div>
